#include "windows.h"
#include "resource.h"

IDR_MYMENU MENU
BEGIN
POPUP "&File"
BEGIN
MENUITEM "E&xit", IDM_EXIT
END
POPUP "&Help"
BEGIN
MENUITEM "&About", IDM_ABOUT
END
END

IDD_ABOUTBOX DIALOGEX 0, 0, 237, 62
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
BEGIN
ICON IDI_APPLICATION, IDC_STATIC, 14, 14, 20, 20
LTEXT "BoardGUI", IDC_STATIC, 42, 18, 119, 8, SS_NOPREFIX
DEFPUSHBUTTON "OK", IDOK, 180, 7, 50, 14, WS_GROUP
END